


			
<!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://www.tatiana.com.ng/"> tatiana.com.ng</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->		

	
<script type="text/javascript" src="/js/lib/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/js/lib/bootstrap.js"></script>
<script type="text/javascript" src="/js/pushy.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>