<!DOCTYPE html>
<html lang="en" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase 
indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius 
boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions 
fontface generatedcontent 
video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="About Tatiana Catering Service| Your taste buds would testify.">
    <meta name="keywords" content="Tatiana Cakes Doughnuts finger foods coffee student entrepreneur unilag baker">
    <meta name="author" content="Charles Ugbana Tochukwu">

	<title>Tatiana Catering Services</title>
	<link rel="icon" type="image/png" href="/img/Event-Services.png">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Charm|Italianno|Mate+SC|Molle:400i|Great+Vibes|Jura|Laila|Playfair+Display" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/mystyle.css">

 
</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container"> 
				<div class="display" id="nav11" style="width: 100%; text-align: center;">
					<button type="button" onclick="SideBar()" class="btn btn-info" style="float: left;">
						<i class="fas fa-align-left"></i>
					</button>
					<a class="navbar-brand" href="/">Tatiana's</a>
					<%if(currentUser){%>
						<div class="dropdown float-right" style="overflow: hidden;">
							<button class="nav-link dropbtn m-0 bg-transparent" onclick="logout()" style="border: none; outline: none; color: white;">
								<div style="display: inline-flex; align-items: baseline;">
								<a class="nav-link" href="#" style="color: #fff;"><i class="fas fa-user"></i><%=currentUser.username%></a>
							<i class="fa fa-caret-down"></i></div></button>
							<div class="dropdown-content display">
								
								<a href="/logout" style="display: block; text-decoration: none; color: black; text-align: center;">Logout</a>
							</div>
						</div>
						
					<%}%>
						
				</div>
				
				<div id="nav10" style="width: 100%; ">
				<a class="navbar-brand" href="/">Tatiana's</a> 
				<button class="navbar-toggler"type="button"data-toggle="collapse" 
				data-target="#navbarSupportedContent"aria-controls="navbarSupportedContent"aria-expanded="false"aria-label="Toggle navigation">   
				 <span class="navbar-toggler-icon"></span> 
				</button> 
				<div class="collapse navbar-collapse"id="navbarSupportedContent">   
					<ul class="navbar-nav mr-auto"> 
						<li class="nav-item">      
							<a class="nav-link" href="/menu/cakes">Menu</a>     
						</li>
						<%if(!currentUser || currentUser && !currentUser.isAdmin){%>
							<li class="nav-item">      
								<a class="nav-link" href="/contact">About Us</a>     
							</li>
						<%}%>
						
					</ul> 
					<ul class="navbar-nav ml-auto"> 
						<%if(!currentUser){%>
							<li class="nav-item">      
								<a class="nav-link"href="/register"><i class="fas fa-user-plus"></i>Register</a>     
							</li> 
							<li class="nav-item">      
								<a class="nav-link"href="/login"><i class="fas fa-user"></i>Login</a>     
							</li> 
						<%} else{%>
								<div class="dropdown float-right" style="overflow: hidden;">
									<button class="nav-link dropbtn m-0 bg-transparent" onclick="logout()" style="border: none; outline: none; color: white;">
										<div style="display: inline-flex; align-items: baseline;">
											<a class="nav-link" href="#" style="color: #fff;"><i class="fas fa-user"></i>Welcome, <%=currentUser.username%></a>
									<i class="fa fa-caret-down"></i></div></button>
									<div class="dropdown-content display">
										<a href="/logout" style="display: block; text-decoration: none; color: black; text-align: center;">Logout</a>
									</div>
								</div>
								
							<%}%>
						
					</ul>  
				</div>
				</div>
				</div>
			</nav>
		
		 <div class="container">
			 <%if(error && error.length > 0){%>
				<div class="alert alert-danger" role="alert"><%=error%></div>
			 <%}%>
			 <%if(success && success.length > 0){%>
				<div class="alert alert-success" role="alert"><%=success%></div>
			<%}%>
		 </div>
		
		<div class="wrapper display">
			<nav id="sidebar" class="py-4 px-3">
				<div id="dismiss">
					<i class="fa fa-arrow-left"></i>
				</div>
				<div class="sidebar-header">
					<h3>OUR SERVICES</h3>
					<hr class="underline1">
				</div>
			<ul class="list-unstyled components">
						<li class="py-2">
							<a href="/menu/cakes"><i class="fas fa-hand-point-right"></i> Assorted Cakes</a>
						</li>
						<li class="py-2">
							<a href="/menu/doughnuts"><i class="fas fa-hand-point-right"></i> Flavoured Doughnuts</a>
						</li>
						<li class="py-2">
							<a href="/menu/coffee"><i class="fas fa-hand-point-right"></i> Sweetened Coffee</a>
						</li>
						<hr class="my-5">
				<li class="py-2">
					<a href="/contact">About Us</a>
				</li>
				<%if(!currentUser){%>
					<li class="py-2">
						<a href="/register">Register</a>
					</li>
					<li class="py-2">
						<a href="/login">Login</a>
					</li>
				<%}else{%>
					<li class="py-2">
						<a href="/faq">FAQS</a>
					</li>
				<%}%>
				
			</ul>
			<form action="" class="text-center my-4 py-4">
				<input type="search" class="btn-block p-2 br-50">
				<button class="btn btn-xs btn-info my-3" >SEARCH</button>
			</form>
	</nav>
	</div>
	