
		<div class="col-md-3">

			<form  action="/services/search" method="POST">
			<input type="search"  name="key" class="p-2 w-100 mb-3" >
			<!-- <i class="fas fa-search float-right"></i> -->
			<!-- <input type="submit"> -->
			</form>
  			
			<div class="card">
					

					

 				 <div class="lead card-header">Contact Us</div>
 				 <div class="card-body">
 				 	<h4><img src="/img/location.png"> Visit us</h4>
 				 	<p>No. 27 Eletu Odibo Street, Abule Ijesha, Yaba Lagos.</p>
 				 	<hr>
 				 </div> 
 				  <div class="card-body">
 				 	<h4><img src="/img/phone.png"> Call us</h4>
 				 	<p>Call us on <a href="tel:+234 818 006 4548"><button>+234 818 006 4548</button></a></p>
 				 	 <hr>
 				 </div>
 				
 				 <div class="card-body">
 				 	<h4><img src="/img/Gmail_icon.png"> Mail us</h4>
 				 	<p>Mail us on <a href="mailto:tatianawilson07@yahoo.com"><button>tatianawilson07@yahoo.com</button> </a></p>
 				 	 <hr>
 				 </div> 
 				
 				 <div class="card-body">
 				 	<h4><img src="/img/social.png"> Social Media</h4>
 				 	<P>Connect with us via:</P>
 				 	<p>
 				 	<a class="mr-3" href="https://wa.me/+2348180064548"><img src="/img/what.png"></a>
 				 	<a class="mr-3" href="https://www.instagram.com/tatianas_catering_services/"><img src="/img/instagram_icon.png"></a>
 				 	<a class="mr-3" href="#"><img src="/img/facebook.png"></a>
 				 	<a class="mr-3" href="#"><img src="/img/twitter.png"></a>
 				 	</p>

 				 	<hr>
 				 </div>
 				   

 				 
			</div>
		</div>
		
    	</div>
   	</div>
   </div>
   