<div id="drop" class="container">
	<div class="row">
		<!-- <div id="sideToggle"><i class="fas fa-plus"></i></div> -->
		
		<aside class="col-md-3 mb-5 showHide">
			<p class="lead">Menu:</p>
			<div class="list-group">
				<a href="/menu/cakes"><li class="list-group-item">Assorted Cakes</li></a>
				<a href="/menu/doughnuts"><li class="list-group-item">Flavoured Doughnuts</li></a>
				<a href="/menu/coffee"><li class="list-group-item">Refreshening Coffee</li></a>
				
				
			</div>
			<div id="map"></div>

			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1BTQzr37C-aJ_o6Em3TmIVGiP4fyvYis&callback=initMap">
			</script>
		</aside>

		
		