<% include ../partials/header.ejs %>	
<% include ../partials/sidebar.ejs %>


		<div class="col-md-8 main">

			<div class="jumbotron donuts">
				
					<h1 class="heading">Finger Foods</h1>
					<p class="subheading">Dessert| Snacking| Picnics| </p>
					<%if(currentUser && currentUser.isAdmin){%>
						<a href="/menu/doughnuts/new"><button class="mb-3 btn btn-xs btn-success">UPLOAD MENU</button></a>
					<%}%>
				
			</div>
			<div class="row mb-3 text-center">
					<%doughnuts.forEach(function(dough){%>
						<div class="col-md-3 col-sm-6 mb-5">
							<img class="img-thumbnail" src="<%=dough.image%>">
							<p><strong><%=dough.name%></strong></p>
							<a class="btn btn-primary btn-xs" href="/menu/doughnuts/<%= dough._id %>">More Info</a>
						</div>
					<%});%>
				</div>
			</div>
		</div>
	</div>


<% include ../partials/footer.ejs %>	