<% include ../partials/header.ejs %>
	<div id="drop" class="container">
			<div id= "new">
				<h1 class="text-center">Edit Comment</h1>
				
			
				<form action="/menu/doughnuts/<%=dough._id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
					
					<div class="form-group">
						<label for="DESC">Comment:</label>
						<textarea id="DESC" name="comment[text]"  class="form-control  w-100 pb-5" required><%=comment.text%></textarea>
					</div>
					<button class="btn btn-success btn-md btn-block">Submit!</button>
				</form>
				<a href="/menu/cakes">Go Back</a>
			</div>
	</div>		


<% include ../partials/footer.ejs %>