<%include ./partials/header.ejs%>
<div id="drop">
<div class="container main about">
	<div class="jumbotron">			
		<h1 class="heading">About Us</h1>

</div>
	
</div>
</div>

</div>
<%include ./partials/footer.ejs%>