<!DOCTYPE html>
<html>
<head>
	<meta utf-8>
	<title>Tatiana Catering Services</title>
	<link rel="icon" type="image/png" href="img/Event-Services.png">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Charm|Italianno|Mate+SC|Molle:400i|Playfair+Display" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/home.css">

</head>
<body>
	<nav class="navbar navbar-dark bg-dark bg fixed-top">
		<div class="px-3" style="display: flex; width: 100%;"> 
			<a class="navbar-brand" href="/">Tatiana's</a> 
			<ul class="navbar-nav ml-auto"> 
				<li class="nav-item">      
					<a class="nav-link"href="#" style="color: #fff;">Blog</a>     
				</li> 
			</ul>
		</div>
	</nav>
		<div id="homeScreen">
			<div class="welcome">
				<div class="header px-2 py-4">
					<h2>We Create Delicious Memories</h2>
					<p>Birthdays| Weddings| Hangouts| Self-treating| Picnicking| Gifting| Snacking| Coffee| Delivery Service.</p>
					<a class="btn btn-lg btn-primary py-1 px-5" href="/menu/cakes">GO TO MENU</a>
				</div>
			</div>
			<ul class="slider">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					
				</ul>
			
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
		</body>
		</html>