<!DOCTYPE html>
<html>
<head>
	<meta utf-8>
	<title>Tatiana Catering Services</title>
	<link rel="icon" type="image/png" href="img/Event-Services.png">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Charm|Italianno|Mate+SC|Molle:400i|Playfair+Display" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/home.css">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg">
		<div class="container pl-5 pr-5"> 
			<a class="navbar-brand" href="/">Tatiana's</a> 
			<ul class="navbar-nav ml-auto"> 
				<li class="nav-item">      
					<a class="nav-link"href="/blog">Blog</a>     
				</li> 
			</ul>
		</div>
	</nav>
		<div id="homeScreen">
			<div class="welcome">
				<h2>We Create Delicious Memories</h2>
				<p>Birthdays| Weddings| Hangouts| Self-treating| Picnicking| Gifting| Snacking| Coffee| Delivery Service.</p>
				<a class="btn btn-lg bg-transparent" href="/menu/cakes">Go To Menu</a>
				
			</div>
			<ul class="slider">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					
				</ul>
			
		</div>
		<div id="menu">
			<div id="menu-heading">
				<h3 class="text-center mb-3 mt-3">Pleasure And Taste In One Place</h3>
				<p class="text-center">Here at Tatiana's, we look forward to providing you with the best event services. <br>Your convenience,
					satisfaction and delight is our priority. <br> Our menu targets to beautify your event, create memories, 
					leave yummy trails
					on your tastebuds and to brighten your day. <br>
					We are trusted to deliver. Place an order today!
				</p>
			</div>
			
			<div class="row mb-3 text-center">
				<div class="col-md-2 col-sm-4 col-xs-6  mb-5">
					<img class="img-thumbnail" src="img/cupcake2.jpeg">
					<h4>Cup Cakes</h4>
					<p>Comes in packs of different numbers and flavors. Do not deprive your 
						tastebuds of the yummy experience!  </p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 mb-5">
					<img class="img-thumbnail" src="img/background.jpeg">
					<h4>Fruit Cakes</h4>
					<p>Spice it all up with the attractive and yummy taste of our fruit cakes!</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 mb-5">
					<img class="img-thumbnail" src="img/coffeecup.jpg">
					<h4>Wedding Cakes</h4>
					<p>The perfect stop for a tasty, well designed, and ceremonial-standard cakes. 
						We are known to deliver!</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 mb-5">
					<img class="img-thumbnail" src="img/coffeecup.jpg">
					<h4>Coffee</h4>
					<p>Stay <em>woke</em> with a cup of coffee. </p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 mb-5">
					<img class="img-thumbnail" src="img/fingerfoods.jpeg">
					<h4>Finger Foods</h4>
					<p>Perfect for snacking and social hangouts. We've got your events covered.</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 mb-5">
					<img class="img-thumbnail" src="img/order.jpg">
					<h4>Order Online</h4>
					<p>You can place your orders from the comfort of your home or workplace by just a click. 
						We also offer an effective delivery service 24/7 having your convenience in mind. </p>
				</div>
			</div>
		</div>
	
			
		<div id="aboutUs">
			<h3>About Us</h3>
		</div>
		<div id="testimonial">
			<h3>testimonial</h3>
		</div>
		
		
		<div class="row" id="connect">
			<div class="col-md-4 mb-5">
				<h3>Our Location</h3>
				<h3>Connect With Us</h3>	
			</div>
			<div class="col-md-4 mb-5 menu">
				<h3>Our Menu</h3>
				<p>
					<li>Cakes</li>
						<ul id="list">
							<li>Pancakes</li>
							<li>Fruit cakes</li>
							<li>Birthday cakes</li>
							<li>Cup cakes</li>
							<li>Wedding cakes</li>
						</ul>
				</p>
				<p><li>Coffee</li></p>
				<p><li>Finger foods</li></p>	
				
				<h5><li>Delivery service is also available!</li></h5>	
			</div>
			<div class="col-md-4 mb-5">
				<h3>Instagram Feed</h3>	
			</div>
		</div>
		
	

	
	
		<%include ./partials/footer.ejs %>