<%include ./partials/header.ejs%>
<div id="drop">
    <div class="container main ">
        <div class="jumbotron terms">			
            <h1 class="text-center heading" style="color:white; font-size: 4em;">Terms of Service</h1>
      </div>    
    </div>

</div>
<%include ./partials/footer.ejs%>