@import url('https://fonts.googleapis.com/css?family=Bitter|Dancing+Script|Lobster|Teko&display=swap');
html, body{
	font-family: Laila;
	height: 100%;
	min-height: 100%;
	font-size: 0.8em;
	width: 100%;
	overflow-x: hidden;
	word-break: break-word;
	

}

hr.underline1{
    background-color: red;
    color: red;
    width: 60%;
	height: 1px;
	margin-left: 0;
}

footer{
	width: 100vw;
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}
.alert-success, .alert-danger{
	top: 6em;
}



.display{
	display: none;
}
/*===================NAVBAR=================================*/

.fixed-top{
	padding:1.5em;
	
}

.navbar-nav li {
	padding: 0 0.5em;
	
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.85);
	font-weight: 700;
	padding-right: 1em;
	padding-left: 1em;
	margin-right: 1em;
}

.dropdown-menu {
	background-color: rgba(0 , 128, 116, 0.7);
}

.dropdown-item{
	padding: 0.4rem 1.5rem;
	color: rgb(255 , 235, 205);
	font-family: roboto;
	letter-spacing: 0.05em;
}

.navbar-dark .navbar-nav .nav-link.active{
	background-color: rgba(244, 54, 54, 0.87); 
}

.list-group-item:last-child {
	letter-spacing: 0.05em;
}


.navbar-dark .navbar-brand{
	font-family: 'Molle', cursive;
	font-size: 1.5em;
	color: rgba(255, 255, 255, 1);
	font-weight: 550;
}
.navbar-brand{
	font-family: 'Molle', cursive;
	font-size: 1.5em;
	color: rgba(255, 255, 255, 1);
	font-weight: 550;
}
hr{
	margin-left: 0;
	width: 75%;
	border: 0.3px dashed;
}
/*#2f4f4f*/

/*======================ALL LOGINS======================================*/


#signup, #login, .new {
	
	width: 50%;
	margin: 0 auto;
	padding-top: 8em;

}

label {
	font-weight: bold;
}

div#admin{
	border: 0.1px dashed grey;
	padding:5px;
}

div.new{
	padding-top: 2em;

}

@media only screen and (max-width:800px){
    #signup, #login, .new{
        width: 70%;
    }
}
@media only screen and (max-width:420px){
	#signup, #login, .new{
        width: 95%;
    }
}



/*=================================================*/

div#drop {
	font-size: 1rem;
	padding-top: 7em ;
	padding-bottom: 1rem;
	background-color:  white;
	min-height: 80%;
	
}

p.lead {
	margin-bottom: 0.5rem;
	font-weight: bold;
	font-family: roboto;
}

.list-group-item{
	font-weight: bold;
}

.list-group-item a{
	padding-right: 2em;
}

.list-group-item.active{
	background-color:#20a755; 
}


.delete-form{
	display: inline;
}

/*=================thumbnail*/
.img-thumbnail{
	padding: 0;
}

img.img-thumbnail{
	width:100%;


}

#img-height{
	height: 380px;
}

div.caption-full {
	padding: 9px;

}
.row {
	display: flex;
	
} 

div.card .card-body img{
	width: 25px;
	height: 25px;
	
}

div.card .card-body h4{
	color: brown;
}



.jumbotron {
	min-height: 40px;
	padding: 2em;
	
}


div.cake {
	background-image: url("https://res.cloudinary.com/charlene04/image/upload/v1582435818/tatiana/cake1_g0rlqs.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

div.coffee {
	background-image: url("https://res.cloudinary.com/charlene04/image/upload/v1582437199/tatiana/coffee-171653_1920_isuzrr.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

div.donuts {
	background-image: url("https://res.cloudinary.com/charlene04/image/upload/v1582435835/tatiana/dough_rx6lwi.jpg");
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
}
div.terms {
	background-image: url("https://res.cloudinary.com/charlene04/image/upload/v1582437183/tatiana/eat-792575_1920_rlwsru.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
div.faq {
	background-image: url("https://res.cloudinary.com/charlene04/image/upload/v1582437184/tatiana/measuring-cup-2510243_1920_yyli1h.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
div.about {
	background-image: url("https://res.cloudinary.com/charlene04/image/upload/v1582435857/tatiana/flour_vscyp7.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

h1.heading {
	font-family: "Italianno";
	font-size: 6em;
	color: #fff;
	letter-spacing: 2px;
}

p.subheading {
	letter-spacing: 2px;
	color: rgb(250, 255, 150);
	text-shadow: 1px 1px #000;
}

hr.underline{
    background-color: red;
    color: red;
    width: 40%;
    margin-left: 0;
    height: 1px;
    margin-top: 0;
}


/*========================FOOTER*/

.page-footer{
	background-color: #343a40;
	/* bottom: 0;
	position: fixed; */
	width: 100%;
	z-index: 1030;
}

 #map {
        height: 35vh; 
        width: inherit;  
        background-color: rgba(61, 34, 212, 0.16); 
       }
a#navbarDropdown.nav-link.dropdown-toggle {display: block;}
aside.showHide {display: none;}
li#menu-link {display: none;}
div.phone-size {display: block;}
div#nav10{display: none;}

@media only screen and (min-width:992px){
	div#nav10{display: inline-flex;}
	a#navbarDropdown.nav-link.dropdown-toggle {display: none;}
	aside.showHide{display: block;}
	li#menu-link {display: block;}
	div.phone-size {display: none;}
	
}
@media only screen and (max-width: 992px){
	div#nav10{display: none;}
	aside.showHide {display: none;}
	div#nav11{display: block;}
	.col-md-8{flex: none; max-width: unset;}
}




/*======================SIDEBAR============================*/
#sidebar{
	background-color: #e5e5e5;
	background-image: url("https://res.cloudinary.com/charlene04/image/upload/v1582435818/tatiana/bg_cjbt4f.png");
	background-repeat: no-repeat;
    background-position: top;
    background-size: inherit;
	min-width: 270px;
	max-width: 270px;
	height: 100vh;
	font-size: 15px;
	position: fixed;
	left: 0;
	z-index: 9999;
}
#sidebar a{
	color: #000;
}
.overlay{
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 998;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.overlay.active{
	display: block;
	opacity: 1;
}

#dismiss{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 10px;
	right: 10px;
}


.dropdown-content{
	justify-content: center;
	align-items: center;
	font-size: 14px;
	position: fixed; 
	background-color: #e5e5e5; 
	width: 100px; 
	z-index: 1; 
	height: 30px;
	box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
	
}

/*========================FAQ=======================*/


#faq{
    width: 60%;
    margin: 0 auto;
    padding: 50px auto;
}

div.question{
    margin-bottom: 20px; 
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background: #57489D;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    padding: 8px 30px;
    
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover {
    background-color: rgba(88, 72, 157, 0.795);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 25px;
    background: #FFFEFE;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p{
      padding-top: 10px;
  }

  .active1, .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active1:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }



@media only screen and (max-width:615px) {
    #faq{
        width: 90%;
    }
}
@media only screen and (min-height:900px){
div#faq{
        height: 80vh;
    }
}